#####
build*/
docs/html/
docs/latex/
nbproject/
ext/
CMakeFiles/
Makefile
*.json
check_pointer_size.cxx
cmake_install.cmake
CMakeCache.txt
virgil

#####
# OS X temporary files that should never be committed
 
.DS_Store
*.swp
*.lock
profile
